# Downloaded Content
ai-docs/

# Built Content
bin/
obj/
nupkg/

# User-specific Files
.idea/
*.DotSettings.user

# Temp Files
src/QuickstartWeatherServer
src/QuickstartClient

# Secrets
appsettings.local.json